#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/stp.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
      #include "macros.dtsi"
      #include "version.dtsi"

      hm: homerow_mods {
          compatible = "zmk,behavior-hold-tap";
          label = "HOMEROW_MODS";
          #binding-cells = <2>;
          tapping-term-ms = <200>;
          quick_tap_ms = <175>;
          flavor = "tap-preferred";
          bindings = <&kp>, <&kp>;
      };
    };

  keymap {
    compatible = "zmk,keymap";

    default_layer {
      display-name = "Base";
      bindings = <
        &kp EQUAL &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp F19 &mo 3 &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp MINUS
        &kp TAB &kp Q &kp W &kp E &kp R &kp T &none &none &kp Y &kp U &kp I &kp O &kp P &kp BSLH
        &kp ESC &kp A &kp S &kp D &kp F &kp G &kp LGUI &kp LCTRL &kp LALT &kp LGUI &mo 8 &kp RGUI &kp H &kp J &kp K &kp L &kp SEMI &kp SQT
        &kp LSHFT &kp Z &kp X &kp C &kp V &kp B &mo 7 &mo 6 &kp N &kp M &kp COMMA &kp DOT &kp FSLH &kp RSHFT
        &mo 2 &kp GRAVE &kp F18 &kp LEFT &kp RIGHT &kp BSPC &lt 1 DEL &mo 4 &mo 5 &kp ENTER &kp SPACE &kp UP &kp DOWN &kp LBKT &kp RBKT &mo 2
      >;
    };
    keypad {
      display-name = "Select";
      bindings = <
        &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
        &trans &trans &trans &trans &trans &trans &trans &kp LG(A) &kp LA(DOWN) &kp LS(LA(LEFT)) &kp LS(UP) &kp LS(LA(RIGHT)) &kp LA(UP) &trans
        &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &kp LS(LG(LEFT)) &kp LS(LEFT) &kp LS(DOWN) &kp LS(RIGHT) &kp LS(LG(RIGHT)) &kp LS(LC(G))
        &trans &trans &trans &trans &trans &trans &trans &kp BSPC &kp LS(LG(UP)) &m_0 &kp LC(LG(G)) &kp LC(G) &kp LS(LG(DOWN)) &trans
        &trans &trans &trans &trans &trans &trans &trans &trans &kp LG(V) &kp LG(X) &kp LG(C) &kp LS(LG(UP)) &kp LS(LG(DOWN)) &trans &trans &trans
      >;
    };
    fn {
      display-name = "Fn";
      bindings = <
        &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6 &trans                                           &mo 3 &kp F7 &kp F8 &kp F9 &kp F10 &kp F11 &kp F12
        &trans &trans &trans &trans &trans &trans  &none                                           &none &trans &trans &trans &trans  &trans  &trans
        &trans &trans &trans &trans &trans &trans  &none        &trans &trans &trans &trans        &none &trans &trans &trans &trans  &trans  &trans
        &trans &trans &trans &trans &trans &trans                      &trans &trans                     &trans &trans &trans &trans  &trans  &trans
        &trans &trans &trans &trans &trans               &trans &trans &trans &trans &trans &trans              &trans &trans &trans  &trans  &trans
      >;
    };
    mod {
      display-name = "Mod";
      bindings = <
        &none &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &none                                                                     &trans                 &none        &none        &none        &none &none &none
        &none &none        &none        &none        &none        &none        &bootloader                                                               &bootloader            &none        &none        &none        &none &none &none
        &studio_unlock &none        &none        &none        &none        &none        &none                   &none &none &bt BT_CLR &none                      &stp STP_BAT &none        &none        &none        &none &none &none
        &none &none        &none        &none        &macro_ver   &none                                      &none &none                                                        &none        &none        &none        &none &none &none
        &none &none        &none        &none        &none                                       &none &none &none &none      &bl BL_TOG &rgb_ug RGB_TOG                                     &bl BL_INC   &bl BL_DEC   &none &none &none
      >;
    };
    extra1 {
      display-name = "Nav";
      bindings = <
        &trans &trans &trans &trans &trans &trans &trans &trans &kp F13 &kp F14 &kp F15 &kp LG(LBKT) &kp LG(RBKT) &kp F20
        &trans &trans &trans &trans &trans &trans &trans &kp LG(BSPC) &kp LC(UP) &kp LA(LEFT) &kp UP &kp LA(RIGHT) &kp LC(DOWN) &kp LA(LG(RET))
        &trans &trans &trans &trans &trans &trans &trans &trans &trans &kp LG(Z) &kp LG(LS(Z)) &kp LG(D) &kp LG(LEFT) &kp LEFT &kp DOWN &kp RIGHT &kp LG(RIGHT) &kp LS(RET)
        &trans &trans &trans &trans &trans &trans &trans &kp LC(SEMI) &kp LG(UP) &kp BSPC &kp LA(BSPC) &kp LA(DEL) &kp LG(DOWN) &m_1
        &trans &trans &trans &trans &trans &trans &trans &trans &m_2 &kp LS(LG(RET)) &kp LC(SPACE) &kp LS(LG(UP)) &kp LS(LG(DOWN)) &kp PG_UP &kp PG_DN &trans
      >;
    };

    extra2 {
      display-name = "IDE";
      bindings = <
        &trans &kp LG(N1) &kp LA(F12) &kp LA(F1) &kp LG(L) &kp LS(LG(F12)) &trans &trans &trans &trans &trans &trans &trans &trans
        &kp LC(TAB) &kp LG(LS(A)) &kp LG(W) &kp LG(E) &kp LG(LS(E)) &kp LS(LG(T)) &kp LA(LG(K)) &trans &trans &trans &trans &trans &trans &trans
        &kp LS(ESC) &macro_shift2 &kp LG(F12) &kp LG(B) &kp LA(F7) &kp LA(LG(B)) &kp LG(ESC) &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
        &trans &kp LG(LBKT) &kp LG(RBKT) &kp LG(O) &kp LG(LS(O)) &kp F2 &kp LC(H) &trans &trans &trans &trans &trans &trans &trans
        &trans &trans &kp LS(F2) &trans &trans &kp F1 &kp LA(SPACE) &kp LG(P) &trans &trans &trans &trans &trans &trans &trans &trans
      >;
    };

    extra3 {
      display-name = "Sym";
      bindings = <
        &kp GRAVE &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT &trans &trans &trans &trans &trans &trans &trans &trans
        &kp STAR &kp CARET &kp LT &kp GT &kp LBKT &kp RBKT &m_3 &trans &trans &trans &trans &trans &trans &trans
        &kp TILDE &kp AMPS &kp LPAR &kp RPAR &kp LBRC &kp RBRC &m_4 &trans &m_8 &trans &trans &trans &trans &trans &trans &trans &trans &trans
        &trans &kp PIPE &kp EQUAL &kp PLUS &kp MINUS &kp UNDER &m_7 &trans &trans &trans &trans &trans &trans &trans
        &trans &kp BSLH &kp QMARK &kp DQT &kp SQT &kp COLON &m_5 &m_6 &trans &trans &trans &trans &trans &trans &trans &trans
      >;
    };

    extra4 {
      display-name = "Shell";
      bindings = <
        &trans &trans &trans &trans &trans &trans &trans &trans &m_22 &m_23 &m_24 &m_25 &m_26 &trans
        &trans &trans &trans &trans &trans &trans &trans &trans &kp LC(C) &m_14 &m_16 &m_15 &kp LC(L) &m_21
        &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &kp LC(R) &m_9 &m_10 &m_11 &m_12 &m_13
        &trans &trans &trans &trans &trans &trans &trans &kp F17 &kp LC(T) &m_17 &m_18 &m_19 &m_20 &trans
        &trans &trans &trans &trans &trans &trans &trans &trans &kp F16 &trans &trans &kp LC(U) &kp LC(K) &kp LC(W) &kp LC(D) &trans
      >;
    };
    code_layer {
      display-name = "Code";
      bindings = <
        &trans &kp LC(LA(LG(N1))) &kp LC(LA(LG(N2))) &kp LC(LA(LG(N3))) &kp LC(LA(LG(N4))) &kp LC(LA(LG(N5))) &trans &trans &trans &trans &trans &trans &trans &trans
        &kp LG(J) &kp LG(FSLH) &kp LA(LG(T)) &kp LA(LG(M)) &kp LS(F6) &kp LC(T) &kp LG(K) &trans &trans &trans &trans &trans &trans &trans
        &trans &kp LA(RET) &kp LS(LG(RET)) &kp LA(LG(N)) &kp LA(LG(L)) &kp LG(N) &kp LS(LG(K)) &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
        &trans &kp LG(DEL) &kp LA(LG(V)) &kp LC(G) &kp LC(LA(O)) &kp LG(F8) &trans &trans &trans &trans &trans &trans &trans &trans
        &trans &trans &trans &kp F8 &kp F7 &kp LC(LS(R)) &kp LC(R) &kp LC(LS(D)) &trans &trans &trans &trans &trans &trans &trans &trans
      >;
    };
  };
};
